body {
  background: white;
  font-family: 'Open Sans';
}

#header {
  text-align: center;
  color: black;
  position: relative;
  padding-top: 60px;
  width: 100%;
    margin-bottom: 30px;
}

p {
  font-size:20px;
}

h2 {
  font-size:40px;
}

.navbar-default {
  background-color: black !important;
  border-color: #F89E37 !important;
  color: #F89E37;
}

.navbar-default .navbar-nav>.active>a {
  background-color: #F89E37 !important;
  color: #464B51;
}

.navbar-default .navbar-nav>.active>a.home-navbar-link {
  background-color: white !important;
}

.home-navbar-item {
  background-color: #000000;
}

.navbar-default .navbar-nav>li.home-navbar-item:hover {
  background-color: #FFFFFF;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:focus {
  color: white;
}

.navbar-default .navbar-nav>li:hover>a {
  color: #F89E37;
}

.header-image {
  width: 250px;
}

#intro {
  background: url(../temp-background.jpg) no-repeat center center scroll;
  background-size:cover
}

.home-section {
  padding-top:10px;
  padding-bottom:100px;
  display:block;position:relative;z-index:120
}

.home-section:nth-child(even) {
  background: #F89E37 !important;
}

p.lead {
  font-size: 30px;
  color: #464B51;
}

h2.lead {
  font-size: 50px;
  color: #F89E37;
  text-shadow: -1px 0 #FABB73, 0 1px #FABB73, 1px 0 #FABB73, 0 -1px #FABB73;
}

.faq-question {
  font-size: 25px;
}

.faq-answer {
  font-size: 18px;
}

.faq-container {
  padding: 10px;
}